.navbar, .pink-background {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    background-color: #FFF0ED;
    padding: 10px 20px;
}

.logo-link {
    display: flex;
    align-items: center; 
    text-decoration: none;
    color: inherit;
}

.coffee-icon {
    width: 50px;
    height: auto;
    display: block;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 60px; 
    color: black;
    text-decoration: none;
}

.nav-menu, .pink-background ul {
    display: flex;
    gap: 40px; 
    margin-left: 40px; 
}

.nav-menu a, .pink-background ul a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: black;
}

.pink-background ul .special {
    color: #5BACC3; 
    font-weight: 600; 
    text-decoration: none; 
}

.pink-background ul .special:hover {
    color: #4a97ac; 
}

.special {
    color: #5BACC3;
}

.main-set {
    background-color: #FFF0ED;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.head {
    font-family: 'Open Sans', sans-serif;
    font-style: light;
    font-weight: 300;
    font-size: 60px;
    margin-top: 0;

}

.head-product {
    font-family: 'Open Sans', sans-serif;
    font-style: light;
    font-weight: 300;
    font-size: 60px;
    margin-top: 0;
    text-align: center;
}

.mid-section {
    padding-top: 70px;
    background-color: #F7F7F7;
    padding-bottom: 70px;
}

.main-content {
    margin-top: auto;
    margin-bottom: auto;
}

.main-p {
    padding-bottom: 20px;
    max-width: 340px;
}

.shop-tag {
    background-color: #5BACC3;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-style: regular;
    font-weight: 400;
    font-size: 21px;
    text-decoration: none;
    padding: 20px 35px;
    border-top: 30px;
}

.shop-tag-mid {
    background-color: #5BACC3;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-style: regular;
    font-size: 21px;
    margin-left: 45%;
    text-decoration: none;
    padding: 20px 35px;
}

.product-box {
    width: 25%;
    height: 430px;
    background-color: #FFF;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    margin: 2.5%;
}

.products {
    font-family: 'Open Sans', sans-serif;
    font-style: light;
    font-weight: 300;
    font-size: 33px;
    margin-bottom: 20px;
}

.social-media {
    width: 50px;
}

.product-pic {
    height: 280px;
}

.price {
    font-family: 'Open Sans', sans-serif;
    font-style: regular;
    font-weight: 400;
    font-size: 33px;
    color: #5BACC3;
}

.promo {
    background-color: #393939;
    font-family: 'Open Sans', sans-serif;
    font-style: regular;
    color: #FFF;
    font-size: 33px;
    margin: 200px;
    text-align: center;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: #FFF0ED;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.footer h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal; 
    font-size: 36px; 
    color: black;
    margin-bottom: 10px; 
}

.footer p, .footer address {
    font-family: 'Open Sans', sans-serif;
    font-style: normal; 
    font-size: 18px;
    color: black; 
}

.footer a {
    text-decoration: none; 
    color: inherit; 
}

.footer a:hover {
    color: #5BACC3; 
}